/* header {
    display: flex;
    margin: 0 auto;
    height: 1100px;
    justify-content: center;
    background-repeat: no-repeat;
    background-position-x: right;
    background-image: url(images/designer_1.png);
} */
.blockLast {
    height: 939px;
    max-width: 1440px;
    background-color: white;
    background-image: url(images/bgn.png);
    display: flex;
    align-items: center;}
@media (max-width: 1200px) {
    header {
        background: linear-gradient(to right, rgba(255, 255, 255, 0.674) 0%, rgba(237, 237, 237, 0.614) 100%), url('images/designer_1.png') right no-repeat;
    }
}