header {
    display: flex;
    margin: 0 auto;
    height: 1100px;
    justify-content: center;
    background-repeat: no-repeat;
    background-position-x: right;
    background-image: url(images/designer_1.png);
}
.blockLast {
    height: 939px;
    max-width: 1440px;
    background-color: white;
    background-image: url(images/bgn.png);
    display: flex;
    align-items: center;}