doctype
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title HomeWork-13
        link(rel="stylesheet" href="style/style.css")

    body
        h1 Big Buttons
        .BigButtons
            include primary.pug
            include disabled.pug
            include secondary.pug
            include unfil.pug
            .BigButtons__Else
            


