.BigButtons__Primary
    .BigButtons__Primary--NoIcon
        button 
            p Download
    .BigButtons__Primary--RightIcon
        button 
            p Download 
            include images/Download.svg
    .BigButtons__Primary--LeftIcon
        button 
            include images/Download.svg
            p Download