.BigButtons__Secondary
    .BigButtons__Secondary--NoIcon
        button 
            p Download
    .BigButtons__Secondary--RightIcon
        button
            p Download 
            include images/Download.svg
    .BigButtons__Secondary--LeftIcon
        button
            include images/Download.svg
            p Download