.BigButtons__Unfill
    .BigButtons__Unfill--NoIcon
        button 
            p Download
    .BigButtons__Unfill--RightIcon
        button
            p Download 
            include images/Download.svg
    .BigButtons__Unfill--LeftIcon
        button
            include images/Download.svg
            p Download